<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <input type="file" value=""/>
	<!-- <form action="http://127.0.0.1:3000/upload/images?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiYWRtaW4iLCJwYXNzd29yZCI6ImFkbWluIiwiaWF0IjoxNTkwMDI5NzgwLCJleHAiOjE1OTAxMDE3ODB9._ufEtk95k7mIuVrMutrHqvhwvZP-CN2uuPTzalE_HZs" method='post' enctype='multipart/form-data'>
		<input type="file" name='single'>
		<input type="submit">
	</form> -->
	<script src="https://cdn.bootcss.com/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript">
		window.onload = function(){
			var Input = document.querySelector("input");
			Input.onchange = function upload(){
			    var files = !!this.files ? this.files : [];
			    if (!files.length || !window.FileReader) {
			        console.log("浏览器不支持HTML5");
			        return false;   
			    };
			    // 创建一个FormData对象,用来组装一组用 XMLHttpRequest发送请求的键/值对
			    var fd = new FormData();
			    // 把 input 标签获取的文件加入 FromData 中
			    fd.append('file', files[0]);
			    // Ajax
			    var request = new XMLHttpRequest();
			    request.open("POST", "http://127.0.0.1:3000/upload/images?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiYWRtaW4iLCJwYXNzd29yZCI6ImFkbWluIiwiaWF0IjoxNTkxMzQxNjg4LCJleHAiOjE1OTE0MTM2ODh9.DfbXENmQteocXdyoufVW1jmFHP2VIRUNUR2zDPg7JhM");
			    request.send(fd);
			    request.onreadystatechange = function(){
			        if(request.readyState === 4 & request.status === 200){
			            console.log("上传成功");
			            var response = JSON.parse(request.responseText);
			            console.log(response);
			        }
			    }
			}
		}
		
		var a = 1;
		function getAxios(){
			return new Promise((resolve,reject)=>{
				// axios.defaults.withCredentials=true
				// axios.defaults.crossDomain=true
				axios.defaults.headers.common['token'] = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiYWRtaW4iLCJwYXNzd29yZCI6ImFkbWluIiwiaWF0IjoxNTg5OTY2NjUxLCJleHAiOjE1OTAwMzg2NTF9.Yia1fNhcVWX5t00GgX_A2eGDIzMH_IXL_HNqa1M5cK4"
				
				// axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
				axios.post('http://127.0.0.1:3000/login?username=admin&password=admin',{username:'admin',password:'admin'}).then((data) => {
					// a++;
					console.log(data)
					resolve()
				})
			})
		}
		
		
		async function upDataAllEvent(){
			await getAxios();
		}
		// upDataAllEvent()
		
	</script>
  </body>
</html>